.shadow-inset {
    box-shadow: 0 0 1em 0 rgba(255, 255, 255, .4);
}

@media (max-width: 639.9px) {
    :root {
        --width-major: 70%;
        --width-minor: 30%;
    }
    .temp-card,
    .wind-card,
    .time-card {
        position: absolute;
        right: 0;
        width: calc(var(--width-minor) - 4px);
        height: calc(50% - 2px);
        margin: 0;
        transition-duration: .5s;
    }

    .time-card {
        bottom: 0;
    }

    .temp-card-radio:checked ~ .temp-card {
        right: var(--width-minor);
        width: var(--width-major);
        height: 100%;
    }
    .temp-card-radio:checked ~ .wind-card {
        top: 0;
    }
    .temp-card-radio:checked ~ .time-card {
        bottom: 0;
    }
    
    .wind-card-radio:checked ~ .wind-card {
        right: var(--width-minor);
        width: var(--width-major);
        height: 100%;
        border-bottom-left-radius: inherit;
    }
    .wind-card-radio:checked ~ .temp-card {
        top: 0;
        border-bottom-left-radius: 0;
    }
    .wind-card-radio:checked ~ .time-card {
        bottom: 0;
    }
    
    .time-card-radio:checked ~ .time-card {
        right: var(--width-minor);
        width: var(--width-major);
        height: 100%;
        border-bottom-left-radius: inherit;
        border-bottom-right-radius: 0;
    }
    .time-card-radio:checked ~ .temp-card {
        top: 0;
        border-bottom-left-radius: 0;
    }
    .time-card-radio:checked ~ .wind-card {
        bottom: 0;
        border-bottom-right-radius: inherit;
    }

    .temp-card-radio:not(:checked) ~ .temp-card .card-head,
    .wind-card-radio:not(:checked) ~ .wind-card .card-head,
    .time-card-radio:not(:checked) ~ .time-card .card-head {
        width: 100%;
        height: 100%;
        border: none;
    }

    .temp-card-radio:not(:checked) ~ .temp-card .card-body,
    .wind-card-radio:not(:checked) ~ .wind-card .card-body,
    .time-card-radio:not(:checked) ~ .time-card .card-body {
        display: none;
    }
}