* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background: #066293;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em;
}

.clock {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-image: linear-gradient(135deg, white, #066293);
    box-shadow: .5em .5em 1em 0 #0004 inset,
    -.5em -.5em 1em 0 #fff4 inset,
    .5em .5em 1em 0 #0004,
    -.5em -.5em 1em 0 #fff4;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.clock .minute-ind {
    width: 1%;
    height: 50%;
    background-image: linear-gradient(to bottom, black 5%, #fff0 5%);
    position: absolute;
    top: 50%;
    transform-origin: 50% 0%;
    transform: rotate(calc(var(--i) * 6deg)) translateY(100%) rotate(180deg);
}

.clock .minute-ind:nth-child(5n+1) {
    background-image: linear-gradient(to bottom, black 10%, #fff0 5%);
}