.clock {
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-image: linear-gradient(135deg, #6fc7f1, #066293);
    box-shadow: 0 0 2em 0 #000 inset;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.clock::before {
    content: "";
    background: #00f;
    width: 5%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: .05em solid #0f0;
    z-index: 1;
}

.clock::after {
    content: "";
    position: absolute;
    background: #f00;
    width: 2%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    z-index: 3;
}

.clock .minute-ind {
    position: absolute;
    width: .5%;
    height: 50%;
    background-image: linear-gradient(to bottom, #fff 5%, #fff0 5%);
    transform-origin: 50% 100%;
    transform: translateY(-50%) rotateZ(calc(var(--i) * 6deg));
}

.clock .minute-ind:nth-child(5n+1) {
    width: 1%;
    background-image: linear-gradient(to bottom, #fff 10%, #fff0 5%);
}

.clock::before,
.hour-hand,
.minute-hand,
.second-hand {
    position: absolute;
    box-shadow: 0 0 0.2em 0 #000;
}

.hour-hand {
    width: 1.5%;
    height: 30%;
    background: #0f0;
    transform-origin: 50% 100%;
    transform: translateY(-50%) rotate(calc(var(--hour) * 30deg + var(--minute) * .5deg));
}

.minute-hand {
    z-index: 2;
    width: 1%;
    height: 40%;
    background: #00f;
    transform-origin: 50% 100%;
    transform: translate(-50%) rotate(calc(var(--minute) * 6deg + var(--second) * 0.1deg));
}

.second-hand {
    z-index: 3;
    width: .5%;
    height: 50%;
    background: #f00;
    transform-origin: 50% 90%;
}

.gmt,
.time-period {
    position: absolute;
    top: 58%;
    font-size: 1em;
    background-image: linear-gradient(135deg, #066293, #6fc7f1);
    border-radius: 10rem;
    padding-inline: .5rem;
    box-shadow: 0 0 .5em .1em #000a inset;
}

.gmt {
    top: 25%;
}